* {
  padding: 0;
  margin: 0;
}

/* 目前背景图仍需修改（底部圣诞老人加上，并且留出页脚空白，同时减小文件体积） */
body {
  background-image: url("../img/overall-background.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-color: #e52319;
}

.sp-head {
  display: none;
}

.navi {
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

#nav_twitter_sp {
  display: none;
}

.p1-container {
  height: 600px;
  margin-top: 110px;
}

#p1-background {
  background-image: url("../img/p1-background.png");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

#p2-header {
  display: none;
}

#p2-text-background {
  background-image: url("../img/p2-text-background.jpg");
  background-repeat: no-repeat;
  background-size: 940px;
  background-position: center;
  padding: 15px;
  height: 720px;
  border-radius: 15px;
}

#p2-text {
  font-size: 20px;
  width: 680px;
  margin: 130px auto;
  color: #293d30;
  font-weight: bold;
}

#p2-text-sp {
  font-size: 20px;
  width: 680px;
  margin: auto;
  color: #293d30;
  font-weight: bold;
}

#p2-text-sp {
  display: none;
}

#p3-header {
  margin-left: 20%;
  margin-right: 20%;
  width: 50%;
  margin-bottom: 15px;
}

.department-title {
  text-align: center;
  font-size: 35px;
  padding: 20px;
}

.department-comment {
  font-size: 20px;
  color: black;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #c3f69d;
  border-radius: 5px;
  width: fit-content;
  position: relative;
}

.department-comment::before {
  content: "";
  position: absolute;
  border: transparent 15px solid;
  border-right-color: #c3f69d;
  height: 0;
  width: 0;
  left: -25px;
  top: 20px;
}

.caster-header {
  display: flex;
  justify-content: center;
}

@media (min-width: 767px) {
  #caster-list .row .col-sm-3 {
    flex-basis: 20%;
  }
}

.caster-name {
  text-align: center;
  margin: 15px auto;
}

.caster-img {
  border-width: 2px;
  border-style: solid;
  border-color: #c3c3c3;
  border-radius: 15px;
  width: 120px;
}

#p4-header {
  /* margin-left: 20%;
  margin-right: 20%; */
  width: 50%;
}

#p4-text-background {
  background-image: url("../img/p4-text-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 736px;
  padding: 20px 140px;
  border-radius: 15px;
}

.p4-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #e5e5e5;
}

.p4-item {
  padding: 15px 26px;
  padding-top: 10px;
}

#p4-cover {
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

#p4-supplement a:hover {
  text-decoration: underline;
  color: white;
}

.p4-summary {
  line-height: 30px;
}

#p4-group-a li::before {
  content: "◆";
  /* Insert content that looks like bullets */
  padding-right: 8px;
  color: white;
  /* Or a color you prefer */
}

#p4-group-b li::before {
  content: "◇";
  /* Insert content that looks like bullets */
  padding-right: 8px;
  color: white;
  /* Or a color you prefer */
}

#p5-text-sp {
  display: none;
}

#all_ugc_container {
  background-image: url("../img/p5-all-ugc-container.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 40px 0px;
  border-radius: 15px;
}

#all_ugc {
  margin: auto;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  height: 400px;
  margin-top: 25px;
  color: white;
}

#all_ugc li {
  height: 15px;
  line-height: 30px;
  text-align: center;
  list-style: none;
  display: block;
  padding-bottom: 20px;
  margin: 15px auto;
}

#bottom-img-container {
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #181828;
  padding: 40px 0;
  border-top: 1px solid #313646;
}

.copy-rights {
  color: red;
}

.footer-vertical-center {
  margin: auto;
}

#footer ul {
  display: inline-block;
  line-height: 0;
  color: #99a9b5;
}

#footer li {
  display: inline-block;
  position: relative;
  line-height: 1;
  padding: 0 20px;
}

#footer a:hover {
  text-decoration: none;
  color: #0eacb5;
}

#navi .active a {
  border-bottom: lightblue 5px solid;
  border-radius: 5px;
}

.container {
  width: 940px;
  /* background-color: #1ce51966; */
  /* 这个背景色最后删掉。仅用于参考宽度 */
}

#caster-list {
  background-color: #ca3133;
  border-radius: 20px;
  color: white;
}

.caster-img:hover {
  border: 4px solid white;
}

/* .list-creator {
} */

.list-creator:hover {
  font-size: 26px;
  background: #ca3133;
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
.download {
  text-align: center;
  display: none;
}
a.download-app {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 65px;
  margin: auto auto 50px auto;
}

a.download-app:hover {
  background-color: #ca3133;
  transform: scale(1.2);
  text-decoration: none;
}

@media (max-width: 767px) {
  #nav_twitter {
    display: none;
  }

  #nav_twitter_sp {
    display: block;
  }

  #p1-background {
    background: none;
  }

  @keyframes display-in {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .sp-head {
    display: block;
    animation: display-in 4s;
  }

  .p1-container {
    margin-top: 0;
  }

  .container {
    width: fit-content;
  }

  #p2-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #p2-header {
    display: block;
    width: 20%;
  }

  #p2-text-background {
    background: none;
  }

  #caster-list {
    background-color: #b73035;
    margin: auto 15px;
  }

  /* #p2-text {
    width: 100%;
  }

  #p2-text {
    background: #af0808;
    color: white;
    padding: 15px 0;
    border-radius: 15px;
  } */

  #p2-text {
    display: none;
  }

  #p2-text-sp {
    display: block;
  }

  #p2-text-sp {
    width: 100%;
  }

  #p2-text-sp {
    background: #af0808;
    color: white;
    padding: 15px 0;
    border-radius: 15px;
  }

  #p3-cover {
    margin-top: 210px;
  }

  #p3-header {
    width: 100%;
    margin: unset;
    padding: 25px;
  }

  .department-title {
    font-size: 27px;
  }

  .department-comment {
    font-size: 14px;
    padding: 10px;
  }

  .caster-name {
    font-size: 14px;
  }

  #p4-header {
    width: 70%;
    margin: 20px;
  }

  #p4-text-background {
    padding: 15px;
    margin: auto 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .p4-text {
    font-size: 15px;
    line-height: 15px;
  }

  #p4-cover {
    border-radius: unset;
    background: #10502b;
    font-size: 15px;
    margin-bottom: unset;
  }

  #p4-supplement {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #10502b;
    padding-bottom: 20px;
  }

  #p5-text {
    display: none;
  }

  #p5-text-sp {
    display: block;
    width: 70%;
  }

  #all_ugc_container {
    width: calc(100% - 30px);
    border-radius: 15px;
    margin: auto 15px;
  }

  #all_ugc {
    width: 100%;
    padding: auto 15px;
  }

  .all-creator-roll {
    overflow: hidden;
  }

  #page5_all_ugc {
    margin-top: 50px;
  }

  .copy-rights {
    text-align: center;
  }

  .footer-vertical-center {
    text-align: center;
  }

  #footer-navigation {
    margin: 15px auto;
  }

  .download {
    display: block;
  }
}
